
.findUsContainer{
    padding-top: 60px;
    height: 200px;
    background-color: black;
    color: white;

}

.touch div{
    margin: 30px 20px;
}

.buttonDiv{
    text-align: center;
    margin: 30px 20px;

}


.buttonDiv button{
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 0;
}

.social{
    text-align: right;
    margin: 30px 20px;
}



.findUsContainer img{
    background-color: white;
    width: 15px;
    margin: 3px;
}