.aboutMeContainer{
    /* background-color: aqua; */
    width: 800px;
    height: 250px;
    margin-top: 100px;
    display: flex;

}

.aboutMeContainer h1{
    width: 200px;
}

.aboutMeContainer p{
    font-size: smaller;
    color: gray;
}

.aboutMeContainer button{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 20px 30px;
}